{% extends "rescueapp/base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-11 col-md-4 mx-auto mt-5">
        <h1 class="fw-light">Clay County Humane Society App Landing Page</h1>
        <p class="fw-light">This is the business operations management app for the Clay County Humane Society. This app keeps track of the animals, the inventory, and
            the profit and expenses of the entity.

            <div>
                <a href="placeholder text" class="btn btn-primary">Click here to get started.</a>
            </div>
        </p>
    </div>
</div>>
{% endblock content %}