{% extends "rescueapp/base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-11 col-md-5 mx-auto mt-5 px-3">
        <h1 class="fw-light">Clay County Humane Society App Landing Page</h1>
        <p class="fw-light">This is the business operations management app for the Clay County Humane Society. This app keeps track of the animals, the inventory, and
            the profit and expenses of the entity. Click a button to proceed.

            <div>
                <a href="items/" class="btn btn-primary">Items</a>
                <a href="animals/" class="btn btn-primary">Animals</a>
                <a href="revenue/" class="btn btn-primary">Revenue</a>
            </div>
        </p>
    </div>
</div>
{% endblock content %}