{% extends "rescueapp/base.html" %}

{% block content %}
<h1>Revenue List</h1>
<table>
    <thead>
        <tr>
            <th scope="col">Week</th>
            <th scope="col">Income</th>
            <th scope="col">Expense</th>
        </tr>
    </thead>
    <tbody>
        {% for r in revenue %}
        <tr>
            <td>{{ r.week }}</td>
            <td>{{ r.income }}</td>
            <td>{{ r.expense }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}